#formulaz_result .MathJax_Display{
	display:inline !important;
	padding:0.8em;
	margin:4px;
}

#formulaz_result{
	text-align:center;
	border:solid 2px #a69;
	border-radius:8px;
	margin:8px;
	padding: 8px;
}

#search_buttons{
	text-align:center;
	border:solid 2px #8af;
	border-radius:8px;
	margin:16px;
	padding: 8px;
}

#az_is_me{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	text-align:center;
	color:#aaa;
	font-size:0.8em;
}
